# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Jupyter Notebooks
# ==========================
.ipynb_checkpoints/

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/

# ==========================
# IDE Settings
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Large Dataset
# ==========================
data/complaints.csv
complaints.csv